<div class="row">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-header">Modal</div>
            <!-- Large modal -->
            <div class="card-body">
                <button (click)="open(content)" class="btn btn-primary">Large modal</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal title</h4>
                        <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button (click)="c('Close click')" class="btn btn-secondary" type="button">Close</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
