<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center align-items-center h-100">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" [style.width.px]="150" alt="logo"/>
            <h1>SB Admin BS5 Angular17</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Email' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                        />
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Password' | translate"
                            class="form-control input-underline input-lg"
                            type="password"
                        />
                    </div>
                </div>
                <a (click)="onLoggedin()" [routerLink]="['/dashboard']" class="btn rounded-btn">
                    {{'Log in' | translate}}
                </a>
                &nbsp;
                <a [routerLink]="['/signup']" class="btn rounded-btn">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
