.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%); /* Standard syntax */
    .loading-bar {
        display: inline-block;
        width: 6px;
        height: 30px;
        border-radius: 4px;
        animation: loading 1s ease-in-out infinite;
        &:nth-child(1) {
            background-color: #222;
            animation-delay: 0;
        }
        &:nth-child(2) {
            background-color: #222;
            animation-delay: 0.09s;
        }
        &:nth-child(3) {
            background-color: #222;
            animation-delay: .18s;
        }
        &:nth-child(4) {
            background-color: #222;
            animation-delay: .27s;
        }
    }
}
@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}
