<div class="card">
    <div class="card-header">
        Tooltip
    </div>
    <div class="card-body">
        <button class="btn btn-secondary" ngbTooltip="Tooltip on top" placement="top" type="button">
            Tooltip on top
        </button>
        <button class="btn btn-secondary" ngbTooltip="Tooltip on right" placement="right" type="button">
            Tooltip on right
        </button>
        <button class="btn btn-secondary" ngbTooltip="Tooltip on bottom" placement="bottom" type="button">
            Tooltip on bottom
        </button>
        <button class="btn btn-secondary" ngbTooltip="Tooltip on left" placement="left" type="button">
            Tooltip on left
        </button>
        <ng-template #StaticTipContent><em>Tooltip</em> <u>with</u> <b>HTML</b></ng-template>
        <button [ngbTooltip]="StaticTipContent" class="btn btn-secondary" data-html="true" type="button">
            Tooltip with HTML
        </button>
    </div>
</div>
