<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Bootstrap Elements
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <i class="fa fa-desktop"></i> Bootstrap Elements
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="javascript:;" class="btn btn-primary btn-lg" role="button">Learn more »</a>
        </p>
    </div>

    <div class="page-header">
        <h1>Buttons</h1>
        <hr>
    </div>
    <p>
        <button type="button" class="btn btn-lg btn-secondary">Default</button>
        <button type="button" class="btn btn-lg btn-primary">Primary</button>
        <button type="button" class="btn btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-lg btn-info">Info</button>
        <button type="button" class="btn btn-lg btn-warning">Warning</button>
        <button type="button" class="btn btn-lg btn-danger">Danger</button>
        <button type="button" class="btn btn-lg btn-link">Link</button>
    </p>
    <p>
        <button type="button" class="btn btn-secondary">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button>
    </p>
    <p>
        <button type="button" class="btn btn-sm btn-secondary">Default</button>
        <button type="button" class="btn btn-sm btn-primary">Primary</button>
        <button type="button" class="btn btn-sm btn-success">Success</button>
        <button type="button" class="btn btn-sm btn-info">Info</button>
        <button type="button" class="btn btn-sm btn-warning">Warning</button>
        <button type="button" class="btn btn-sm btn-danger">Danger</button>
        <button type="button" class="btn btn-sm btn-link">Link</button>
    </p>

    <br>

    <div class="page-header">
        <h1>Thumbnails</h1>
        <hr>
    </div>
    <img class="img-thumbnail" src="http://placehold.it/400x400" alt="">

    <div class="page-header">
        <h1>Dropdown menus</h1>
        <hr>
    </div>
    <div class="dropdown theme-dropdown clearfix">
        <button class="btn btn-secondary">
            Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
    </div>

    <br>
    <div class="page-header">
        <h1>Navbars</h1>
    </div>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
    </nav>
    <br>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
    </nav>

    <div class="page-header">
        <h1>Alerts</h1>
        <hr>
    </div>
    <div class="alert alert-success">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert alert-info">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-warning">
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
    <div class="alert alert-danger">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>

    <div class="page-header">
        <h1>Progress bars</h1>
        <hr>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%; height: 10px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>

    <div class="page-header">
        <h1>List groups</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="list-group">
                <a href="javascript:;" class="list-group-item active">Cras justo odio</a>
                <a href="javascript:;" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="javascript:;" class="list-group-item">Morbi leo risus</a>
                <a href="javascript:;" class="list-group-item">Porta ac consectetur ac</a>
                <a href="javascript:;" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="list-group">
                <a href="javascript:;" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
            </div>
        </div>
        <!-- /.col-sm-4 -->
    </div>

    <div class="page-header">
        <h1>Cards</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Card title
                </div>
                <div class="card-block">
                    Card content
                </div>
            </div>
            <div class="card card-primary card-inverse mb-3">
                <div class="card-header card-primary">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card card-success card-inverse mb-3">
                <div class="card-header card-success">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
            <div class="card card-info card-inverse">
                <div class="card-header card-info">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card card-warning card-inverse mb-3">
                <div class="card-header card-warning">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
            <div class="card card-danger card-inverse">
                <div class="card-header card-danger">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card card-success card-inverse mb-3">
                <div class="card-header card-success">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card card-warning card-inverse mb-3">
                <div class="card-header card-warning">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card card-danger card-inverse mb-3">
                <div class="card-header card-danger">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
    </div>
</div>
