<div class="card mt-3">
    <div class="card-header">
        Pop over
    </div>
    <div class="card-body">
        <button
            class="btn btn-secondary"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            placement="top"
            popoverTitle="Popover on top"
            type="button"
        >
            Popover on top
        </button>

        <button
            class="btn btn-secondary"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            placement="right"
            popoverTitle="Popover on right"
            type="button"
        >
            Popover on right
        </button>

        <button
            class="btn btn-secondary"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            placement="bottom"
            popoverTitle="Popover on bottom"
            type="button"
        >
            Popover on bottom
        </button>

        <button
            class="btn btn-secondary"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            placement="left"
            popoverTitle="Popover on left"
            type="button"
        >
            Popover on left
        </button>
    </div>
</div>
