<div class="card mt-3">
    <div class="card-header">Progressbar</div>
    <div class="card-body">
        <p>
            <ngb-progressbar [value]="50" type="info"></ngb-progressbar>
        </p>
        <p>
            <ngb-progressbar [max]="200" [value]="150" showValue="true" type="warning"></ngb-progressbar>
        </p>
        <p>
            <ngb-progressbar [striped]="true" [value]="100" type="danger"></ngb-progressbar>
        </p>
        <p>
            <ngb-progressbar [value]="25" type="success">25</ngb-progressbar>
        </p>
        <p>
            <ngb-progressbar [value]="50" type="info">Copying file <b>2 of 4</b>...</ngb-progressbar>
        </p>
        <p>
            <ngb-progressbar [animated]="true" [striped]="true" [value]="75" type="warning"><i>50%</i></ngb-progressbar>
        </p>
        <p class="mb-0">
            <ngb-progressbar [striped]="true" [value]="100" type="danger">Completed!</ngb-progressbar>
        </p>
    </div>
</div>
