<div class="card mt-3">
    <div class="card-header">Progressbar</div>
    <div class="card-body">
        <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
        <p><ngb-progressbar showValue="true" type="warning" [value]="150" [max]="200"></ngb-progressbar></p>
        <p><ngb-progressbar type="danger" [value]="100" [striped]="true"></ngb-progressbar></p>
        <p><ngb-progressbar type="success" [value]="25">25</ngb-progressbar></p>
        <p><ngb-progressbar type="info" [value]="50">Copying file <b>2 of 4</b>...</ngb-progressbar></p>
        <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p>
        <p class="mb-0"><ngb-progressbar type="danger" [value]="100" [striped]="true">Completed!</ngb-progressbar></p>
    </div>
</div>
