<div class="card">
    <div class="card-header">Dropdown</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="d-inline-block dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" ngbDropdownToggle>Toggle dropdown</button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item">Action</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>
            <div class="col text-right">
                <div class="d-inline-block dropdown" ngbDropdown placement="top-right">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>Toggle dropup</button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item">Action</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <p class="mb-2">You can easily control dropdowns programmatically using the exported dropdown instance.</p>
        <div #myDrop="ngbDropdown" class="d-inline-block dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu>
                <button class="dropdown-item">Action</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div>
        <div #myDrop="ngbDropdown" class="d-inline-block dropdown" ngbDropdown>
            <button (click)="$event.stopPropagation(); myDrop.open()" class="btn btn-outline-success">
                Open from outside
            </button>
        </div>
        <div #myDrop="ngbDropdown" class="d-inline-block dropdown" ngbDropdown>
            <button (click)="$event.stopPropagation(); myDrop.close()" class="btn btn-outline-danger">
                Close from outside
            </button>
        </div>
    </div>
</div>
